@use "../global" as g;

.c-manu-item {
    font-size: 3rem;
    height: auto;
    list-style: none;
    margin: 1rem 0 0 4rem;
    transition: font-size 0.5s;
}

// ホバーアニメーション
.c-manu-item__link {
    position: relative;
    color: g.$color-manu-text;
    transition: color 0.5s;
}

.c-manu-item__link::before {
    content: "";
    position: absolute;
    z-index: g.$zindex-manu-item__link;
    bottom: 0;
    left: -5rem;
    width: 0;
    height: 100%;
    background-color: g.$color-square-red;
    transition: all 0.5s;
    opacity: 1;
}

.c-manu-item__link--top::before {
    background-color: g.$color-square-yellow;
}

.c-manu-item__link--about::before {
    background-color: g.$color-square-red;
}

.c-manu-item__link--works::before {
    background-color: g.$color-square-blue;
}

.c-manu-item__link:hover::before {
    width: 18rem;
    padding: 0.5em 2.2em;
    opacity: 1;
    border-radius: 0 30px 30px 0;
}

.c-manu-item__link:hover {
    color: g.$color-manu-text-hover;
}
