{
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
