@use "../global" as g;

.p-about-section {
    font-family: g.$font-notojp;
    margin: 5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include g.mq(sp) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.p-about-section__icon {
    color: g.$color-about-section-icon;
    margin: 2rem 8rem 2rem 2rem;
    width: 6rem;
    height: 6rem;
    @include g.mq(sp) {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0;
    }
}

.p-about-section__txt-container {
    @include g.mq(sp) {
        padding: 1rem 15vw;
        width: 100%;
    }
}

.p-about-section__ttl {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0 0 1rem;
    @include g.mq(sp) {
        text-align: center;
        font-size: 1.4rem;
    }
}

$_content-font-size: 1.2rem;

.p-about-section__content {
    font-weight: 300;
    font-size: $_content-font-size;
    list-style-type: none;
    line-height: 2;
    margin: 0 0 0 2rem;
    @include g.mq(sp) {
        font-size: 1rem;
        line-height: 1.8;
    }
}

.p-about-section__list {
    position: relative;
}

.p-about-section__list-icon {
    position: absolute;
    font-size: $_content-font-size;
    top: $_content-font-size * 0.55;
    left: -2rem;
    @include g.mq(sp) {
        top: $_content-font-size * 0.3;
    }
}
