@use "../global" as g;

.p-hero-logo {
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 50vh;
    left: 50vw;
    transform: translate(0%, -50%);
    text-align: center;
    z-index: g.$zindex-hero-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.p-hero-logo__txt {
    font-weight: 400;
    font-size: 6rem;
}
