@use "../global" as g;

.p-main-manu {
    width: 20%;
    height: 100vh;
    position: fixed;
    margin: 1rem 0 0 0;
    @include g.mq(sp) {
        display: none;
    }
}

.p-main-manu__logo {
    margin: 1rem 0 0 3rem;
}
