@use "../global" as g;

.p-portfolio-content {
    margin: 0 0 100vh;
    font-family: g.$font-notojp;
}

.p-portfolio-content__ttl {
    font-size: 6rem;
    font-weight: 400;
    font-family: g.$font-poiret-one;
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 70vh;
    left: 5vw;
    text-align: center;
}

.p-portfolio-content__desc {
    margin: 30vh 0 0 30vw;
    padding: 5vw;
    background-color: g.$color-square-red;
}

.p-portfolio-content__desc--about {
    @extend .p-portfolio-content__desc;
    background-color: g.$color-square-red;
}

.p-portfolio-content__desc--works {
    @extend .p-portfolio-content__desc;
    background-color: g.$color-square-blue;
}
