@use "../global" as g;

.p-portfolio-content {
    margin: 0 0 100vh;
    font-family: g.$font-notojp;
}

.p-portfolio-content__ttl {
    font-size: 6rem;
    font-weight: 400;
    font-family: g.$font-poiret-one;
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 70vh;
    left: 5vw;
    text-align: center;
    @include g.mq(sp) {
        left: 0;
        top: 3vh;
        margin: 0;
        background-color: g.$color-portfolio-content-ttl-sp;
        padding: 0.5rem 2rem 0.5rem 1rem;
        font-size: 2rem;
        z-index: g.$zindex-portfolio-content-ttl-sp;
    }
}

.p-portfolio-content__desc {
    margin: 30vh 0 0 30vw;
    padding: 5vw;
    background-color: g.$color-square-red;
    @include g.mq(sp) {
        margin: 5vh 4vw 0;
        padding: 2vw;
    }
}

.p-portfolio-content__desc--about {
    @extend .p-portfolio-content__desc;
    background-color: g.$color-square-red;
}

.p-portfolio-content__desc--works {
    @extend .p-portfolio-content__desc;
    background-color: g.$color-square-blue;
}
