@use "../global" as g;

$_fadeout-time: 0.5s;

.p-splash-screen {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: g.$color-splash-screen-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: g.$zindex-splash;
    opacity: 1;
    transition: opacity $_fadeout-time;
    &.is-hide {
        opacity: 0;
    }
    &.is-display-none {
        display: none;
    }
}
