@use "../global" as g;

.p-splash-screen {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: g.$color-splash-screen-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: g.$zindex-splash;
    @include g.fadeout-before(0.5s);
    &.is-hide {
        @include g.fadeout-after(0.5s);
    }
}
