@use "../global" as g;

.p-works-section {
    font-family: g.$font-notojp;
    margin: 5rem 0;
    @include g.mq(sp) {
        padding: 0 2vw;
    }
}

.p-works-section__ttl {
    font-size: 2rem;
    font-weight: 900;
    margin: 0 0 0.5rem;
    @include g.mq(sp) {
        font-size: 1.2rem;
        margin: 0 0 0.1rem;
    }
}

.p-works-section__desc {
    font-size: 1rem;
    margin: 0 0 1rem;
    @include g.mq(sp) {
        font-size: 1rem;
        margin: 0 0 0.1rem;
    }
}

.p-works-section__content {
    font-weight: 300;
    font-size: 1rem;
    list-style-type: none;
    line-height: 1.7;
    @include g.mq(sp) {
        font-size: 0.7rem;
        line-height: 2;
    }
}
