// -------------------------
// color
// -------------------------

$color-site-text-light: #fff;
$color-site-page-bg: #2d4059;

$color-manu-text: #fff;
$color-manu-text-hover: #2d4059;

$color-splash-screen-bg: #fff;

$color-square-red: #ee806a;
$color-square-yellow: #ffe153;
$color-square-blue: #84cfe9;

$color-box-blue-line: #57b9d9;
$color-box-blue-shadow: #387b92;

$color-about-section-icon: #2d4059;

$color-portfolio-content-ttl-sp: #2d4059;
