// ----------------
// z-index 指定
//  z-index が反映される position の値の一覧表
//      position
//          未指定    … 効かない
//          static    … 効かない
//          relative  … 効く
//          absolute  … 効く
//          fixed     … 効く
//          sticky    … 効く
//   指定方法
//      @use "../global" as g;
//      z-index: g.$zindex-〜;
// ----------------

$zindex-bg-canvas: -200;

$zindex-manu-item__link: -1;

$zindex-hero: -100;
$zindex-hero-logo: 100;

$zindex-splash: 9999;

$zindex-portfolio-content-ttl-sp: 10;
